.popup__close-button {
    align-self: flex-end;
    width: 33px;
    height: 32px;
    background: transparent;
    border: none;
    background-image: url(../../../images/close_icon.svg);
    padding: 0;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    top: -32px;
    right: -32px;
    transition-property: opacity;
    transition-duration: 1s;    
}

.popup__close-button:hover {
    opacity: 0.3;
  }

  @media (max-width: 640px) {
    .popup__close-button { 
        width: 15px;
        height: 15px;
        top: -15px;
        right: -15px;
}
}