.profile__edit {
    background-image: url(../../../images/pen_.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    align-self: flex-start;
    margin: 35px 0 0 17px;
    background-color: black;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 1s;
    border: none;
}

.profile__edit:hover {
    opacity: 0.3;
  }

  @media (max-width: 640px) {
    
    .profile__edit {   
        margin-top: 20px;
    }
}