.element__heart_like {
    background-image: url(../../../images/heart_like.svg);
    background-repeat: no-repeat;
    height: 18.13px;
    width: 20.78px;
    align-self: center;
    cursor: pointer;
    border: none;
        }

.element__heart_like:hover {
    opacity: 1;
          }