.profile__button {
    background: url(../../../images/addbutton_.svg) no-repeat center rgba(0, 0, 0, 0);
    width: 150px;
    height: 50px;
    align-self: center;
    border: 2px solid #fff;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 1s;
}

.profile__button:hover {
    opacity: 0.3;
  }

@media (max-width: 640px) {
    .profile__button {
        background-image: url(../../../images/addbutton2_.svg);
        width: 282px;
        margin-top: 36px;}
}