@import url(./__title/popup__title.css);
@import url(./__close-button/popup__close-button.css);
@import url(./__container/popup__container.css);
@import url(./__form/popup__form.css);
@import url(./__button/popup__button.css);
@import url(./_disabled/popup__button_disabled.css);
@import url(./__input/popup__input.css);
@import url(./_invalid/popup__input_invalid.css);
@import url(./__img/popup__img.css);
@import url(./__imgtitle/popup__imgtitle.css);
@import url(./_type_image/popup__container_type_image.css);
@import url(./__error/popup__error.css);
@import url(./_visible/popup__error_visible.css);




.popup {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .5s linear;
    justify-content: center;
    align-items: center;
    background: #00000087;
}
